body {
    color: black;
    font: 600 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
  }

#container {
    text-align: center
}

img {
    border: 1px solid black;
}

  .responsive {
    max-width: 100%;
    height: auto;
  }

  .box-set,
  .box {
    border-radius: 6px;
  }
  .box-set:before,
  .box-set:after {
    content: "";
    display: table;
  }
  .box-set:after {
    clear: both;
  }
  .box-set {
    background: lightgreen;
    /* *zoom: 1; */
    /* display: inline-flex; */
  }
  
  .box {
    background: #2db34a;
    float: left;
    margin: 1.5% 1.5%;
    margin-right: 0px;
    padding: 20px 20px;
    text-align: center;
    height: 20px;
    font-size:15px;
    /* display: inline-table */
  }
  
  .box:hover{
    font-size:0;
  }

  .box:focus{
    font-size:0;
  }
  
  .box:hover:after {
    content: attr(data-hover);
    font-size:15px;
  }

  .box:focus:after{
    content: attr(data-hover);
    font-size:15px;
  }
  